body {
    height: 2000px;
    margin:0;
}

.placeholder {
    height: 200px;
    width: 100%;
}

.bar {
    width:600px;
    height: 50px;
    margin: auto;
    background-color:#333333;
}

.bar:nth-child(4) {
    background-color:#999999
}

.sticky {
    position: fixed;
}

.relative {
    position: relative;
}